.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  border: none;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    rgba(24, 173, 237, 1) 10%,
    rgba(68, 68, 208, 1) 100%
  );
  padding: 7px 10px;
  transition: 200ms;
  min-width: 100px;
  max-height: 38px;
}

.button:hover {
  scale: 1.03;
  transition: 200ms;
}

.icon {
  width: 16px;
  height: 16px;
}
